Slack Integration/Row Lookup.json
{
  "name": "Row Lookup",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query_column"
            },
            {
              "name": "query_value"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        -16
      ],
      "id": "6083d666-53b4-4c0c-ac6b-ac82ec028dbb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "{{GOOGLE_SHEET_ID}}",
          "mode": "list",
          "cachedResultName": "List of Volunteers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/{{GOOGLE_SHEET_ID}}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/{{GOOGLE_SHEET_ID}}/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -16
      ],
      "id": "35015ffb-558f-4843-9522-8aa185882bd0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{GOOGLE_SHEETS_CREDENTIAL_ID}}",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f156f558-79c1-4685-9e4f-0d73a688d4ed",
              "leftValue": "={{ $json[$('When Executed by Another Workflow').item.json.query_column]}}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.query_value }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -16
      ],
      "id": "7209c615-528e-406f-ad28-e57fe4f0fc6e",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "068018da-1301-4dae-ba7a-73488a5a106f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{N8N_INSTANCE_ID}}"
  },
  "id": "6DgCRt71xNuyx8nF",
  "tags": []
}